*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*Automatically inherits what is specified by on the later border-box*/
}

html {
  //this defines what 1rem is -- 10px
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  // 1800px screen width and above
  @include respond(big-desktop) {
    font-size: 75%;
  }

  // 1200px screen width and below
  @include respond(tab-land) {
    font-size: 56.25%;
  }

  // 900px screen width and below
  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
